# Projeto de Regressão Linear

Siga as etapas para analisar os dados do cliente.

## Imports
** Importe pandas, numpy, matplotlib e seaborn. **

## Obter dados

In [2]:
# dados
data = pd.DataFrame({
    'House': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'SquareFootage': [1000, 1200, 1500, 1800, 2200, 1350, 2000, 1750, 1650, 1900, 1300, 2500, 1400, 2050, 2250, 1600, 1950, 2200, 1800, 1250],
    'Price': [100000, 150000, 200000, 250000, 300000, 175000, 225000, 210000, 195000, 240000, 160000, 325000, 170000, 235000, 275000, 190000, 230000, 300000, 250000, 145000]
})

** Verifique o cabeçalho dos clientes e confira os seus métodos info () e describe(). **

   House  SquareFootage   Price
0      1           1000  100000
1      2           1200  150000
2      3           1500  200000
3      4           1800  250000
4      5           2200  300000

In [4]:
data.describe()

          House  SquareFootage         Price
count  20.00000      20.000000      20.00000
mean   10.50000    1732.500000  216250.00000
std     5.91608     405.642765   58125.88426
min     1.00000    1000.000000  100000.00000
25%     5.75000    1387.500000  173750.00000
50%    10.50000    1775.000000  217500.00000
75%    15.25000    2012.500000  250000.00000
max    20.00000    2500.000000  325000.00000

Index(['House', 'SquareFootage', 'Price'], dtype='object')

## Análise de dados exploratória

** Use seaborn para criar um pairplot e comparar as relações no conjunto de dados **

## Treinar e testar os dados

Agora que explorámos um pouco os dados, vamos avançar e dividir os dados em conjuntos de treino e teste.
** Defina uma variável X igual a todas as caraterísticas numéricas dos clientes e uma variável Y igual à coluna Valor Anual Gasto (Yearly Amount Spent). **

In [8]:
# Split the data into training and testing sets
X = data['SquareFootage'].values.reshape(-1, 1)  

# Independent variable
y = data['Price'].values  # Dependent variable

** Use train_test_split da sklearn para dividir os dados em conjuntos de treino e teste. Defina test_size = 0.2 e random_state = 42 **

## Treinar o modelo

** Importe LinearRegression do sklearn.linear_model **

** Crie uma instância de um modelo LinearRegression () chamado model. **

** Treine model nos dados de treino. **

**Faça um Print dos coeficientes do modelo**

In [ ]:
# Calculate R-squared on the testing set
# An R-squared value of 0.95 is considered very good in the context of simple linear regression. 
# The value is between 0 and 1, and the 0.95 value in our case indicates that 95% of the variation 
# in the price, can be explained by the independent variable (square footage), which indicates a 
# strong correlation
r_squared = model.score(X_test, y_test)
print(f'R-squared: {r_squared:.2f}')

## Previsão de dados de teste
Agora que nos ajustámos ao modelo, vamos avaliar o seu desempenho ao prever os valores de teste!

** Use model.predict() para prever o conjunto X_test dos dados. **

In [ ]:
# Prever valores para...
new_sqft = [[1100], [1700], [2000]]

## Conclusão

In [ ]:
# escreva aqui a sua conclusao